* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

body {
  background-color: #2b2b2b;
  font-family: work-sans, sans-serif;
}
body header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 90%;
  margin: 0 auto;
}
body header .header-container .logo {
  width: 200px;
}
body header .header-container .right-header {
  display: flex;
  align-items: center;
  gap: 30px;
}
body header .header-container .right-header ul {
  display: none;
}
body header .header-container .right-header .sign-up {
  display: none;
}
body header .header-container .right-header .burger {
  width: 38px;
}
body header .burger-menu {
  position: fixed;
  top: 79px;
  left: 0;
  width: 100%;
  height: calc(100dvh - 79px);
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
  padding: 40px;
  gap: 30px;
  transform: translateX(-100%);
  transition: 0.3s linear;
  z-index: 100;
}
body header .burger-menu ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body header .burger-menu ul li a {
  font-size: 25px;
  color: #FFFFFF;
}
body header .burger-menu .sign-up {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #A259FF;
  color: #FFFFFF;
  padding: 18px 30px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
}
body header .burger-menu .sign-up img {
  width: 20px;
}
body header .show {
  transform: translateX(0);
}

main .hero {
  max-width: 90%;
  margin: auto;
}
main .hero .hero-text {
  margin-top: 30px;
}
main .hero .hero-text h1 {
  font-size: 35px;
  color: #FFFFFF;
}
main .hero .hero-text p {
  width: 100%;
  color: #FFFFFF;
  margin-top: 20px;
}
main .hero .hero-text button {
  display: none;
}
main .hero .hero-text .statistic {
  display: none;
}
main .hero .hero-img {
  width: 100%;
  margin-top: 30px;
}
main .hero .hero-img .main-img {
  width: 100%;
  display: block;
}
main .hero .hero-img .person {
  padding: 20px;
  background-color: #3B3B3B;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
main .hero .hero-img .person h4 {
  color: #FFFFFF;
  font-size: 25px;
}
main .hero .hero-img .person div {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}
main .hero .hero-img .person div .avatar {
  width: 30px;
}
main .hero .hero-img .person div p {
  color: #FFFFFF;
}
main .hero .hero-mobile button {
  margin-top: 40px;
  background-color: #A259FF;
  color: #FFFFFF;
  padding: 23px 30px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
main .hero .hero-mobile .statistic {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
main .hero .hero-mobile .statistic .statistic-item h3 {
  font-size: 32px;
  color: #FFFFFF;
}
main .hero .hero-mobile .statistic .statistic-item p {
  font-size: 16px;
  color: #FFFFFF;
}
main .collection {
  max-width: 90%;
  margin: 80px auto;
}
main .collection .collection-text h2 {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 700;
}
main .collection .collection-text p {
  width: 100%;
  max-width: 500px;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 15px;
  letter-spacing: 1px;
}
main .collection .collection-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
main .collection .collection-cards .mobile-card, main .collection .collection-cards .tablet-card, main .collection .collection-cards .desktop-card {
  width: 100%;
  margin-top: 40px;
  display: block;
}
main .collection .collection-cards .mobile-card .card-main-img, main .collection .collection-cards .tablet-card .card-main-img, main .collection .collection-cards .desktop-card .card-main-img {
  width: 100%;
  display: block;
}
main .collection .collection-cards .mobile-card .small-img, main .collection .collection-cards .tablet-card .small-img, main .collection .collection-cards .desktop-card .small-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 12px;
}
main .collection .collection-cards .mobile-card .small-img img, main .collection .collection-cards .tablet-card .small-img img, main .collection .collection-cards .desktop-card .small-img img {
  width: 100%;
  display: block;
}
main .collection .collection-cards .mobile-card .small-img .number, main .collection .collection-cards .tablet-card .small-img .number, main .collection .collection-cards .desktop-card .small-img .number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A259FF;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;
}
main .collection .collection-cards .mobile-card .person, main .collection .collection-cards .tablet-card .person, main .collection .collection-cards .desktop-card .person {
  padding-top: 20px;
}
main .collection .collection-cards .mobile-card .person h4, main .collection .collection-cards .tablet-card .person h4, main .collection .collection-cards .desktop-card .person h4 {
  color: #FFFFFF;
  font-size: 25px;
}
main .collection .collection-cards .mobile-card .person div, main .collection .collection-cards .tablet-card .person div, main .collection .collection-cards .desktop-card .person div {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}
main .collection .collection-cards .mobile-card .person div .avatar, main .collection .collection-cards .tablet-card .person div .avatar, main .collection .collection-cards .desktop-card .person div .avatar {
  width: 30px;
}
main .collection .collection-cards .mobile-card .person div p, main .collection .collection-cards .tablet-card .person div p, main .collection .collection-cards .desktop-card .person div p {
  color: #FFFFFF;
}
main .collection .collection-cards .tablet-card, main .collection .collection-cards .desktop-card {
  display: none;
}
main .data {
  max-width: 90%;
  margin: 80px auto;
}
main .data .data-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
main .data .data-header .data-text h2 {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 600;
}
main .data .data-header .data-text p {
  color: #FFFFFF;
  font-size: 16px;
  margin-top: 10px;
}
main .data .data-header .view-rankings {
  display: none;
}
main .data .creators-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
main .data .creators-grid #creator-6, main .data .creators-grid #creator-7, main .data .creators-grid #creator-8, main .data .creators-grid #creator-9,
main .data .creators-grid #creator-10, main .data .creators-grid #creator-11, main .data .creators-grid #creator-12 {
  display: none;
}
main .data .creators-grid .creator-card {
  background: #3B3B3B;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  transition: 0.3s;
}
main .data .creators-grid .creator-card .rank {
  position: absolute;
  left: 12px;
  top: 12px;
  background: #2B2B2B;
  color: #858584;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
main .data .creators-grid .creator-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .data .creators-grid .creator-card .creator-info h3 {
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 5px;
}
main .data .creators-grid .creator-card .creator-info p {
  color: #858584;
  font-size: 14px;
}
main .data .creators-grid .creator-card .creator-info p span {
  color: #FFFFFF;
}
main .data .mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: transparent;
  border: 2px solid #A259FF;
  color: #FFFFFF;
  padding: 18px 30px;
  border-radius: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  width: 100%;
  margin-top: 2rem;
}
main .data .mobile img {
  width: 20px;
  height: 20px;
}
main .data .mobile:hover {
  background-color: #A259FF;
  transition: 0.3s ease-in-out;
}
main .categories .categories-header {
  max-width: 90%;
  margin: auto;
}
main .categories .categories-header h1 {
  font-size: 28px;
  color: #FFFFFF;
}
main .categories .categories-header #categories-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 3rem;
}
main .categories .categories-header #categories-cards img {
  width: 100%;
}
main .categories .categories-header #categories-cards h4 {
  background-color: #3B3B3B;
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: -7px;
  color: #FFFFFF;
}
main .nft {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 4rem auto;
}
main .nft .nft-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main .nft .nft-header h1 {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 600;
}
main .nft .nft-header p {
  color: #FFFFFF;
  font-size: 16px;
  margin-top: 10px;
}
main .nft .nft-header .nft-btn {
  display: none;
}
main .nft #nft-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 3rem;
}
main .nft #nft-cards .nft-card {
  background: #3B3B3B;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
  transition: transform 0.3s ease;
}
main .nft #nft-cards .nft-card img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
main .nft #nft-cards .nft-card .nft-bottom {
  padding: 30px;
}
main .nft #nft-cards .nft-card .nft-bottom h3 {
  color: #FFFFFF;
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}
main .nft #nft-cards .nft-card .nft-bottom .artist {
  color: #858584;
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}
main .nft #nft-cards .nft-card .nft-bottom .artist img {
  width: 30px;
  height: 30px;
}
main .nft #nft-cards .nft-card .nft-bottom .price-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 1rem;
}
main .nft #nft-cards .nft-card .nft-bottom .price-info .label {
  color: #858584;
  font-size: 15px;
}
main .nft #nft-cards .nft-card .nft-bottom .price-info .value {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}
main .nft .mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: transparent;
  border: 2px solid #A259FF;
  color: #FFFFFF;
  padding: 18px 30px;
  border-radius: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  margin-top: 2rem;
}
main .nft .mobile img {
  width: 20px;
  height: 20px;
}
main .nft .mobile:hover {
  background-color: #A259FF;
  transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
  main .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 40px 0;
  }
  main .hero .hero-text {
    width: 50%;
    margin-top: 0;
  }
  main .hero .hero-text h1 {
    font-size: 38px;
    color: #FFFFFF;
  }
  main .hero .hero-text p {
    width: 100%;
    max-width: 330px;
    font-size: 18px;
    color: #FFFFFF;
  }
  main .hero .hero-text button {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
    background-color: #A259FF;
    color: #FFFFFF;
    padding: 18px 30px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
  }
  main .hero .hero-text .statistic {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
  }
  main .hero .hero-text .statistic .statistic-item h3 {
    font-size: 28px;
    color: #FFFFFF;
  }
  main .hero .hero-text .statistic .statistic-item p {
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 0 !important;
  }
  main .hero .hero-img {
    width: 50%;
    margin-top: 0;
  }
  main .hero .hero-mobile {
    display: none;
  }
  main .collection {
    max-width: 90%;
    margin: 80px auto;
  }
  main .collection .collection-text h2 {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 700;
  }
  main .collection .collection-text p {
    width: 100%;
    max-width: 500px;
    color: #FFFFFF;
    font-weight: 500;
    margin-top: 15px;
    letter-spacing: 1px;
  }
  main .collection .collection-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  main .collection .collection-cards .tablet-card {
    display: block;
  }
  main .data {
    max-width: 90%;
    margin: 80px auto;
  }
  main .data .data-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
  }
  main .data .data-header .data-text h2 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
  }
  main .data .data-header .data-text p {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 10px;
  }
  main .data .data-header .view-rankings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: transparent;
    border: 2px solid #A259FF;
    color: #FFFFFF;
    padding: 18px 30px;
    border-radius: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
  }
  main .data .data-header .view-rankings img {
    width: 20px;
    height: 20px;
  }
  main .data .data-header .view-rankings:hover {
    background-color: #A259FF;
    transition: 0.3s ease-in-out;
  }
  main .data .creators-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  main .data .creators-grid #creator-6 {
    display: block;
  }
  main .data .mobile {
    display: none;
  }
  main .categories .categories-header #categories-cards {
    grid-template-columns: repeat(4, 1fr);
  }
  main .categories .categories-header #categories-cards h4 {
    padding: 30px 20px;
  }
  main .nft {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 4rem auto;
  }
  main .nft .nft-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  main .nft .nft-header h1 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
  }
  main .nft .nft-header p {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 10px;
  }
  main .nft .nft-header .nft-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: transparent;
    border: 2px solid #A259FF;
    color: #FFFFFF;
    padding: 18px 30px;
    border-radius: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    width: 200px;
  }
  main .nft .nft-header .nft-btn img {
    width: 20px;
    height: 20px;
  }
  main .nft .nft-header .nft-btn:hover {
    background-color: #A259FF;
    transition: 0.3s ease-in-out;
  }
  main .nft #nft-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 3rem;
  }
  main .nft #nft-cards #nft-3 {
    display: none;
  }
  main .nft #nft-cards .nft-card .nft-bottom {
    padding: 30px;
  }
  main .nft #nft-cards .nft-card .nft-bottom h3 {
    color: #FFFFFF;
    font-size: 20px;
    margin: 0;
    font-weight: 600;
  }
  main .nft #nft-cards .nft-card .nft-bottom .artist {
    color: #858584;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  main .nft #nft-cards .nft-card .nft-bottom .artist img {
    width: 30px;
    height: 30px;
  }
  main .nft #nft-cards .nft-card .nft-bottom .price-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 1rem;
  }
  main .nft #nft-cards .nft-card .nft-bottom .price-info .label {
    color: #858584;
    font-size: 15px;
  }
  main .nft #nft-cards .nft-card .nft-bottom .price-info .value {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
  }
  main .nft .mobile {
    display: none;
  }
}
@media (min-width: 1024px) {
  body header .header-container .right-header ul {
    display: flex;
    gap: 50px;
  }
  body header .header-container .right-header ul li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
  }
  body header .header-container .right-header .sign-up {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #A259FF;
    color: #FFFFFF;
    padding: 18px 30px;
    border-radius: 20px;
    font-weight: 600;
    margin-left: 50px;
  }
  body header .header-container .right-header .sign-up img {
    width: 20px;
  }
  body header .header-container .right-header .burger {
    display: none;
  }
  body header .burger-menu {
    display: none;
  }
  main .hero .hero-text h1 {
    font-size: 67px;
    line-height: 1.1;
  }
  main .hero .hero-text .statistic {
    gap: 50px;
  }
  main .collection {
    max-width: 90%;
    margin: 130px auto;
  }
  main .collection .collection-text h2 {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 700;
  }
  main .collection .collection-text p {
    width: 100%;
    max-width: 500px;
    color: #FFFFFF;
    font-weight: 500;
    margin-top: 15px;
    letter-spacing: 1px;
  }
  main .collection .collection-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  main .collection .collection-cards .desktop-card {
    display: block;
  }
  main .creators-grid {
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 30px;
  }
  main .creators-grid #creator-6, main .creators-grid #creator-7, main .creators-grid #creator-8, main .creators-grid #creator-9,
  main .creators-grid #creator-10, main .creators-grid #creator-11, main .creators-grid #creator-12 {
    display: block !important;
  }
  main .creators-grid .creator-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  main .creators-grid .creator-card img {
    width: 120px;
    height: 120px;
  }
  main .creators-grid .creator-card .creator-info h3 {
    font-size: 22px;
  }
  main .nft #nft-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 3rem;
  }
  main .nft #nft-cards #nft-3 {
    display: block;
  }
}
@media (min-width: 1300px) {
  body header .header-container {
    width: 1200px;
    max-width: 1200px;
  }
  main .hero, main .collection, main .data, main .categories-header, main .nft {
    max-width: 1200px !important;
  }
}/*# sourceMappingURL=style.css.map */